body, html
{
    background-color: #ccc;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


td,th
{
    border: 1px solid;
    padding: 10px 17px;
    font-size: 40px;
    text-align: center;
    background-color: aliceblue;
}